body {
  background-color: purple;
}

h1 {
  color: black;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}

#content-container {
    background: white;
    display: flex;
    width: 800px;
    justify-content: flex-start;
    flex-direction: column;
}

#nav {
	background-color: pink;
	margin-bottom: 10px;
    height: 10%;
}

.nav {
	font-family: verdana;
	font-size: 15px;
	text-align: center;
}


#content {
	background-color: gray;
    height: 70%;
}

#footer {
	background-color: pink;
    height: 20%;
}