body {
  background-color: purple;
}

header, footer {
	background-color: gray;
	display: flex;
	flex-direction: column;
}

h1 {
  color: white;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
  color: white;
}

#nav {
	background-color: pink;
	height: 30px;
	display: flex;
	margin-bottom: 10px;
}

.nav {
	font-family: verdana;
	font-size: 15px;
	text-align: center;
}


#content {
	background-color: pink;
	display: flex;
	flex-direction: column;
}