@import url('https://fonts.googleapis.com/css?family=Press+Start+2P|Armata&display=swap');


body {
  overflow: hidden;
  font-family: 'Armata', sans-serif;
  margin: 0;
  background: lavender;
  font-size: 18px;
 }
 
 .container {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
 }
 .sidebar h1 {
     padding: 20px;
 }
 .body {
   display: grid;
   grid-template-columns: 1fr 3fr;
   overflow: hidden;
 }
 
 .content {
   overflow-y: scroll;
   padding: 25px;
 }
#navbar li{
  list-style-type: none;
  font-size: 20px;
  padding: 10px 0 10px 20px;
  margin-left: -50px;
}
#navbar a {
  text-decoration: none;
}
 p {
   max-width: auto;
 }
.social {
   color: pink;
}
 header {
   font-size: 25px;
   font-family: 'Open Sans', sans-serif;
   font-weight: bold;
 }
hr {
  border-top: 3px solid #000;
  border-bottom: none;
}
a {
  color: black;
}
.sidebar a:hover {
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: 20%;
  border-bottom: 0;
  padding-bottom: .3em;
  text-decoration: underline;
  animation:blinkingText 1s infinite;
}
@keyframes blinkingText{
    0%{     color: #000;    }
    49%{    color: #000; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #000;    }
}
h1 {
  font-family: 'Press Start 2P', cursive;
  color: magenta;
}
h3 {
  margin-left: 10px;
}
.shadow {
 box-shadow: 5px 5px 2px 1px #e0e0e0;
}
.heart {
  background-color: pink;
  height: 30px;
  transform: rotate(-45deg);
  width: 30px;
  margin: 10px 80px;
}
.heart:before {
  top: -15px;
  left: 0;
}
.heart::after {
  left: 15px;
}
.heart:before,
.heart:after {
  content: "";
  background-color: pink;
  border-radius: 50%;
  height: 30px;
  position: absolute;
  width: 30px;
}
#about {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 80px;
}
#projects {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 80px;
}
.tile-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
#contact {
  background: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 80px;
}
#menu {
  background: white;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
  margin-bottom: 80px;
  margin: 0 20px 20px 20px;
}
h2 {
  margin-top: -5px;
}
.project-tile {
  background: pink;
  border-radius: 10px;
  margin: 20px 20px 20px 20px;
  max-width: 500px;
  padding: 10px 0 10px 0;
}
@media (max-width: 480px) {
    header {
      width: 100%;
    }
  }